mixin navItem(link, text, active)
        li
        a(href=`${link}`) #{text}

nav.navbar.bg-dark
    h1
        a(href='#')
            | Adlet
    if user
        ul
            li
            a(href='/me')
                span=`${user.name.split(' ')[0].toUpperCase()}`
            li
            a(href=`${user.role}`)
                span= `${user.role.toUpperCase()}`    
            +navItem('/my-settings', 'SETTINGS')
            li
            a.btn.btn-dark.nav__el--logout Log out

    else
        ul
            li
            a(href='/signup') Sign up
            li
            a(href='/login') Login
